{{! action: a donde enviara los datos }}
<form action="/tasks/add" method="POST">
  {{! name: con que nombre envia los datos }}
  <div>
    <label for="title">Write a title:</label>
    <input type="text" name="title" placeholder="Title" id="title" />

  </div>
  <div>
    <label for="description">Write a description:</label>
    <textarea
      name="description"
      placeholder="Description"
      id="description"
    ></textarea>

  </div>
  <button>Add</button>

</form>